@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdn.jsdelivr.net/gh/sugina-dev/latin-modern-web@1.0.1/style/latinmodern-roman.css');

html, body{
    margin: 0;
    padding: 0;
    /*height:100%;*/
    font-family: 'Roboto', sans-serif;
    background-color: #282828; /*eigengrau 16161D*/
    color: #DDDDDD;

}
        h2 {
            color: #DDDDDD;
        }
        a:link{
            text-decoration:underline;
            color: chocolate;
        }
        a:visited
        {
            text-decoration:underline;
            color: chocolate;
        }


.sitelayout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    }
        .leftcolumn{
            padding-top: 5vh;
            padding-bottom: 5vh;
            padding-left: 5vh;
            text-align: center;
        }
        .rightcolumn{
            text-align: left;
            text-justify: auto;
            padding-top: 5vh;
            width: 85%;
        }


.outputbox {
    width: 60vw; 
    height: 36vh; 
    font-family: 'Latin Modern Roman';
    font-size: 1.5rem;
    color: #DDDDDD;
    background-color: #1e1e1e; 
    overflow:auto;    
}

.inputbox {
    width: 60vw; 
    height: 36vh; 
    font-family: 'Roboto';
    font-size: 1.3rem; 
    color: #161616; 
    background-color: #DDDDDD; 
    overflow:auto;
}

div.scroll {
    background-color: #666666;
    width: 100%;
    height: 73vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
  
    /* CSS just to show the bounds */
    border: 2px solid;
    background-color: #333333;
    color: #999999;
  
  }

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    font-size:larger;
}

@media(max-width:780px){
    .sitelayout{
        grid-template-columns: 1fr;
    }
    .leftcolumn{
        padding:0;
        padding-top: 5rem;
    }
    .rightcolumn{
        padding: 0;
        padding-left:1.5rem;
        padding-top:2rem;
    }
    .innergridcont{
        display: grid;
        grid-template-columns: auto;
        background-color: #2196F3;
        padding: 0px;
      }

}