@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdn.jsdelivr.net/gh/sugina-dev/latin-modern-web@1.0.1/style/latinmodern-roman.css');

html, body{
    margin: 0;
    padding: 0;
    /* height:100%; */
    font-family: 'Roboto', sans-serif;
    background-color: #282828; /*eigengrau 16161D*/
    color: #DDDDDD;

}
        h3 {
            color: #CCCCCC;
            /* margin:-5px 0 -5px 0; */
        }
        a:link{
            text-decoration:underline;
            color: chocolate;
        }
        a:visited
        {
            text-decoration:underline;
            color: chocolate;
        }

                                    /* CORE SITE LAYOUT */
.sitelayout {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .leftcolumn {
        padding-top: 5vh;
        /* padding-bottom: 1vh; */
        padding-left: 5vh;
        text-align: center;

        margin: auto;
        display: flex;
        flex-direction: column;
    }                                           /* INPUT/OUTPUT BOXES */
        .syncscroll.outputbox {
            width: 61vw; 
            height: 43vh; 
            font-family: 'Latin Modern Roman';
            font-size: 1.3rem; /* moto 1.5 */
            /* line-height: 1.4em; */
            text-align: left;
            color: #DDDDDD;
            background-color: #1e1e1e; 
            overflow:auto;    
            white-space: pre-wrap;
            box-sizing: border-box;
            padding: 1%;
        }
            .syncscroll.outputbox p{
                margin:-0.5% 0 -0.5% 0;
            }

        .syncscroll.inputbox {
            width: 60vw; 
            height: 43vh; 
            font-family: 'Roboto';
            font-size: 1.3rem; 
            color: #161616; 
            background-color: #DDDDDD; 
            overflow:auto;

            margin: auto;
            align-items: center;
            justify-content: center;    
        }

    .rightcolumn {
        text-align: left;
        text-justify: auto;
        padding-top: 4.5vh;
        padding-left: 1.3vw;
        padding-right: 3.1vw;
        width: 65%;

        margin: auto;
        display: flex;
        flex-direction: column;
    }
                                            /* DICTIONARY */
        div.scroll {
            width: 100%;
            height: 89vh;
            overflow-x: hidden;
            overflow-y: auto;
            display: flex;
            /* justify-content: center; */
            background-color: #333333;
            border: 1px solid;
            color: #9A9A9A;  
        }

        .tg {
            border-collapse:collapse;
            border-spacing:0;
            margin:0px auto;
        }
            .tg td {
                border-color:transparent;
                border-style:solid;
                border-width:0.1px;
                font-family:Arial, sans-serif;
                font-size:14px;
                overflow:hidden;
                padding:6px 5px;
                word-break:normal;
            }
            .tg .symbol {
                border-color:#595959;
                font-family:"Arial", monospace;
                font-size:1.2rem;
                text-align:center;
                vertical-align:middle
            }
            .tg .title {
                border-color:#595959;
                color: #9A9A9A;
                font-family:"Arial", monospace;
                font-size:1.3rem;
                text-align:center;
                vertical-align:middle;
                padding-top: 2.5vh;
                padding-bottom: 2.5vh;
            }
            .tg .code {
                border-color:#595959;
                font-size:medium;
                text-align:left;
                vertical-align:middle
            }


/* todo: fix up narrow formatting */

@media(max-width:640px){
    .sitelayout{
        flex-direction: column;
        align-items: center;
    }
    .leftcolumn{
        padding:0;
        padding-top: 2vh;
    }
    .syncscroll.outputbox {
        width: 90vw; 
        height: 45vh; 
        font-size: 1.1rem;
    }
    .syncscroll.inputbox {
        width: 89vw; 
        height: 40vh; 
        font-size: 1.1rem;
    }
       
    .rightcolumn{
        width: 80%;
        padding-top: 5vh;
        padding-left: 1vw;
        padding-right: 1.5vw;
        /* align-items: center; */
    }

}